@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-08 14:28:32
 * @version $Id$
 */
 body {
 	padding: 20px;
 	list-style: none;
 }



header>.m-tl>.m-tab>span {
	background: #006699;
	color: #fff;
	padding: 4px 10px 0;
	border-radius: 3px 3px 0 0;
	display: block;
	text-align: center;
}

header>.m-tl>.m-tip>span {
	background: #ff6600;
	color: #fff;
	padding:2px 4px;
	font-size: 15px;
	border-radius: 3px;
	text-align: center;
}

header>.m-tl>.m-fun>span {
	border: 1px solid #ccc;
	color: #666;
	padding:2px 4px;
	border-radius: 3px;
	text-align: center;
}

.m-fun.ui-grid-2 {
	text-align: right;
}

.m-tl>.ui-grid-2,.m-tl>.ui-grid-21 {
	margin-bottom: 0;
	padding-bottom: 0px;
}


.m-tl.ui-grid-row {
	border-bottom: 5px solid #006699;
	width: 1000px;
}

.bd.ui-grid-row {
	background: #ccc;
	width: 1000px;
	height: 70px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.m-time>.m-btime>span {
	color: red;
	font-weight: bold;
	font-size: 17px;
}

.m-time>.m-etime>span:nth-child(1) {
	color: black;
	font-size: 17px;
}

.m-time>.m-etime>span:nth-child(2) {
	color: red;
	font-size: 17px;
	font-weight: bold;
}

.m-message.ui-grid-row {
	font-size: 17px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.m-message-total.ui-grid-4>span:nth-child(2) {
	color: red;
	font-weight: bold;
}

.m-message-on.ui-grid-5>span:nth-child(2) {
	font-weight: bold;
}

.m-message-time.ui-grid-15>span:nth-child(2) {
	color: red;
	font-weight: bold;
}

.m-transit.ui-grid-row {
	width: 1000px;
	background: #fffbde;
	font-size: 15px;
	height: 30px;
	margin-bottom: 0px;
}

.m-transit-tab1.ui-grid-23 {
	text-align: right;
	text-decoration: underline;
	color: blue;
	align-content: center;
}

.m-transit-tab1.ui-grid-2 {
	text-decoration: underline;
	color: blue;
}

.m-table.ui-grid-row {
	width: 1000px;
	background: #cedce8;
	font-size: 15px;
	height: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 5px;
	color: #607a90;
}

.m-table-tab.ui-grid-12 {
	text-align: center;
	border-right: 1px solid white;
}

.m-table-tab1.ui-grid-3 {
	text-align: center;
	border-right: 1px solid white;
}

.m-table-tab1.ui-grid-4 {
	text-align: center;
	border-right: 1px solid white;
}

.m-table-tab.ui-grid-2 {
	text-align: center;
}

.m-table-cnt.ui-grid-row {
	background: #f2f2f2;
	width: 1000px;
	height: 40px;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #cdcdcd;
}

.m-table-cnt.ui-grid-21 {
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: -215px;
}

.m-table-cnt.ui-grid-4 {
	text-align: right;
	text-decoration: underline;
	color: blue;
	font-size: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 215px;
}

.m-table-begin.ui-grid-row {
	width: 1000px;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 45.57px;
}

.m-table-begin.ui-grid-3 {
	font-size: 15px;
	margin-left: 41px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.m-table-begin.ui-grid-3>span:nth-child(1) {
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 0;
}

.m-table-begin.ui-grid-3>span:nth-child(2) {
	padding-left: 34px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.m-table-begin.ui-grid-2 {
	padding: 0;
	margin: 0;
}

.m-table-begin.ui-grid-6 {
	text-align: center;
	color: #0069a3;
	font-size: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-right: 9px;
	border-right: 1px solid #cdcdcd;
}

.m-table-begin1.ui-grid-3 {
	border-right: 1px solid #cdcdcd;
	height: 48px;
}

.m-table-begin2.ui-grid-3 {
	border-right: 1px solid #cdcdcd;
	text-align: center;
	height: 48px;
	font-weight: bold;
	font-size: 15px;
	display: flex;
    align-items: center; 
    justify-content: center;
}

.m-table-begin3.ui-grid-4 {
	border-right: 1px solid #cdcdcd;
	height: 48px;
}

.m-table-progress.ui-grid-row {
	width: 1000px;
	background: #f2f2f2;
	height: 45.57px;
	border: 1px solid #cdcdcd;
}

.m-table-progress-begin.ui-grid-4 {
	text-align: center;
	font-size: 15px;
	padding: 0;
	margin: 0;
	padding-left: 12px;
}

.m-table-progress-begin.ui-grid-1 {
	padding: 0;
	margin: 0;
	padding-top: 4px;
	margin-left: -5px;
}

.m-table-progress-begin.ui-grid-8 {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	margin-left: -13px;
	margin-top: -3px;
}

.m-table-progress-begin.ui-grid-2 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 15px;
	margin-left: 7px;
	margin-right: 118px;
}

.m-table-progress-begin1.ui-grid-8 {
	text-decoration: underline;
	color: blue;
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-top: -9px;
	margin-left: 1px;
}

.m-table-progress-begin1.ui-grid-8>li>span {
	margin-right: 14px;
}

.m-table-progress-begin1.ui-grid-8>li:nth-child(1) {
	margin-left: 112px;
}

.m-table-progress-begin1.ui-grid-8>li:nth-child(2) {
	margin-left: 216px;
}

.m-table-end.ui-grid-row {
	width: 1000px;
	height: 45.57px;
}

.m-table-end.ui-grid-6 {
	text-align: center;
	color: #0069a3;
	font-size: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-right: 9px;
	border-right: 1px solid #cdcdcd;
}

.m-table-end.ui-grid-6>p:nth-child(1) {
	text-decoration: underline;
}

.m-table-end.ui-grid-6>p:nth-child(2) {
	background: #034896;
	color: white;
	border-radius: 3px;
	text-align: center;
	width: 75px;
	margin-left: 39px;
	font-size: 13px;
}

.m-table-end.ui-grid-4 {
	font-weight: bold;
	border-right: 1px solid #cdcdcd;
	font-size: 16px;
	text-align: center;
}

.m-table-begin3.ui-grid-2 {
	height: 48px;
	font-size: 18px;
	text-align: center;
	margin: 15px 0 0 19px;
}

.m-table-progress1-begin.ui-grid-8 {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 20px;
	margin-left: 15px;
	margin-top: -7px;
}

.m-table-progress1-begin.ui-grid-1 {
	padding: 0;
	margin: 0;
	padding-top: 4px;
	margin-left: -28px;
}

.m-table-progress2-begin.ui-grid-2 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 15px;
	margin-left: 4px;
	margin-right: 118px;
}

.m-table-progress2-begin1.ui-grid-8 {
	text-decoration: underline;
	color: blue;
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-top: -15px;
	margin-left: 1px;
}

.m-table-progress2-begin1.ui-grid-8>li>span {
	margin-right: 14px;
}

.m-table-progress2-begin1.ui-grid-8>li:nth-child(1) {
	margin-left: 138px;
}

.m-table-progress2-begin1.ui-grid-8>li:nth-child(2) {
	margin-left: 171px;
}