@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-05-27 14:29:36
 * @version $Id$
 */
li {list-style: none;}

@media screen and (min-width:320px) and (max-width:631px) {
	html {
 		font-size: 62.5%;
 		margin: 0 auto;
 	}

 	.m-hd {
 		display: flex;
 	}

 	.m-img>img {
 		position: relative;
 		width: 100%;
 		height: 62.5%;
 	}

 	img {
 		width: 100%;
 		height: 100%;
 	}

 	.m-search {
 		position: relative;
 		background: #eee;
 		border-radius: 5px;
 		height: 70px;
 		width: 90%;
 		margin: -25px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.m-search>li {
 		position: absolute;
 		width: 90%;
 		height: 100%;
 		margin-top: 10px;
 	}

 	.m-search>li:nth-child(1) {
 		position: absolute;
 		width: 40%;
 		height: 100%;
 		margin-left: 10%;
 		display: inline-block;
 	}

 	.m-search>li:nth-child(1)>span:nth-child(1) {
 		color: #555;
 		display: block;
 	}

 	.m-search>li:nth-child(1)>span:nth-child(2) {
 		font-weight: bold;
 		margin-left: 2%;
 		font-size: 15px;
 	}

 	.m-search>li:nth-child(1)>i {
 		font-weight: bold;
 		display: block;
 		font-size: 15px;
 		margin-top: -16px;
 		margin-left: 68px;
 	}

 	.m-search>li:nth-child(1)>span:last-child {
 		font-size: 11px;
 		margin-left: -7%;
 		line-height: 23px;
 		color: orange;
 		border: 1px solid orange;
 		border-radius: 5px;
 	}



 	.m-search>li:nth-child(2) {
 		position: absolute;
 		width: 40%;
 		height: 100%;
 		display: inline-block;
 		margin-left: 48%;
 	}

 	.m-search>li:nth-child(2)>i {
 		display: block;
 		margin-top: 6%;
 		color: #388e3c;
 	}

 	.m-search>li:nth-child(2)>span {
 		font-weight: bold;
 		margin-left: -3%;
 		color: #388e3c;
 	}

 	.m-search>li:nth-child(3) {
 		position: absolute;
 		width: 40%;
 		height: 100%;
 		display: inline-block;
 		margin-left: 75%;
 	}

 	.m-search>li:nth-child(3)>span:nth-child(1) {
 		color: #555;
 		display: block;
 	}

 	.m-search>li:nth-child(3)>span:nth-child(2) {
 		font-weight: bold;
 		margin-left: 2%;
 		font-size: 15px;
 	}

 	.m-search>li:nth-child(3)>i {
 		font-weight: bold;
 		display: block;
 		font-size: 15px;
 		margin-top: -16px;
 		margin-left: 64px;
 	}

 	.m-search>li:nth-child(3)>span:last-child {
 		font-size: 11px;
 		margin-left: -7px;
 		line-height: 23px;
 		color: orange;
 		border: 1px solid orange;
 		border-radius: 5px;
 	}

 	.m-chaxun {
 		position: relative;
 		background: #388e3c;
 		border-radius: 5px;
 		height: 40px;
 		width: 40%;
 		margin-right: auto;
 		margin-left: auto;
 		color: white;
 		font-weight: bold;
 		font-size: 20px;
 		align-content: center;
 		text-align: center;
 		margin-top: 15px;
 		padding-top: 2%;
 	}

 	.m-help {
 		position: relative;
 		background: #eee;
 		border-radius: 5px;
 		height: 140px;
 		width: 90%;
 		margin: 15px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.m-help>li:first-child {
 		width: 100%;
 		height: 20%;
 		padding-top: 10px;
 	}

 	.m-help>li:first-child>span:first-child {
 		font-weight: bold;
 		font-size: 15px;
 		margin-left: 2%;
 	}

 	.m-help>li:first-child>span:nth-child(2) {
 		font-size: 12px;
 		float: right;
 		margin-right: 20px;
 	}

 	.m-help>li:first-child>i {
 		float: right;
 		margin-right: -33px;
 		margin-top: 2px;
 	}

 	.m-help>li:nth-child(2) {
 		display: flex;
 	}

 	.m-help>li:nth-child(2)>div {
 		margin-top: 2%;
 		margin-left: 10%;
 		/*text-align: center;*/
 		/*align-items: center;*/
 	}

 	.m-help>li:nth-child(2)>div>img {
 		position: relative;
 		width: 80%;
 		height: 60%;
 		display: block;	
 	}

 	.m-help>li:nth-child(2)>div>img:nth-child(1) {
 		margin-left: -15px;
 	}

 	.m-help>li:nth-child(2)>div+div {
 		margin-left: 15%;		
 	}

 	.m-help>li:nth-child(2)>div>span {
 		margin-top: 15px;
 		display: block;
 		margin-left: -28px;
 	}

 	.m-help>li:nth-child(2)>div:nth-child(1)>span {
 		margin-top: 10px;
 		display: block;
 		margin-left: -8px;
 	}

 	.m-top {
 		position: relative;
 		background: #eee;
 		border-radius: 5px;
 		height: 80px;
 		width: 90%;
 		margin: 30px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.m-top>li:first-child {
 		font-weight: bold;
 		font-size: 15px;
 		margin-left: 2%;
 		padding-top: 10px;
 		/*display: block;*/
 	}

 	.m-top>li:nth-child(2) {
 		color: #555;
 		font-size: 10px;
 		margin-left: 2%;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 	}

 	/*.m-top>li:nth-child(2)>span:last-child {
 		float: right;
 		margin-right: 14px;
 	}*/

 	.m-top>li:nth-child(2)>span:first-child {
 		margin-left: 2%;
 	}

 	.m-top>li:nth-child(2)>span+span {
 		margin-right: 5%;
 	}

 	.m-top>li:nth-child(3) {
 		color: black;
 		font-weight: bold;
 		font-size: 13px;
 		margin-left: 1.5%;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 	}

 	.m-top>li:nth-child(3)>span+span {
 		margin-right: 5%;
 	}

 	/*.m-top>li:nth-child(3)>span:last-child {
 		float: right;
 		margin-right: 29px;
 	}*/

 	.m-top>li:nth-child(3)>span:first-child {
 		margin-left: 2%;
 	}

 	.m-top>li:nth-child(3)>span:nth-child(2) {
 		color: red;
 	}

 	.m-top>li:nth-child(3)>span:nth-child(3) {
 		color: orange;
 	}

 	.m-bottom {
 		position: relative;
 		background: #eee;
 		border-radius: 5px;
 		height: 135px;
 		width: 90%;
 		margin: 30px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.m-bottom>li:first-child {
 		font-weight: bold;
 		font-size: 15px;
 		margin-left: 2%;
 		padding-top: 10px;
 	}

 	.m-bottom>li:nth-child(2) {
 		color: #555;
 		font-size: 10px;
 		margin-left: 1.5%;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 	}

 	/*.m-bottom>li:nth-child(2)>span:last-child {
 		float: right;
 		margin-right: 14px;
 	}*/

 	.m-bottom>li:nth-child(2)>span:first-child {
 		margin-left: 2%;
 	}

 	.m-bottom>li:nth-child(2)>span+span {
 		margin-right: 4%;
 	}

 	.m-bottom>li:nth-child(3) {
 		color: black;
 		font-weight: bold;
 		font-size: 13px;
 		margin-left: 1.5%;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 		margin-top: 1%;
 	}

 	.m-bottom>li:nth-child(3)>span+span {
 		margin-right: 4%;
 	}

 	.m-bottom>li:nth-child(3)>span:last-child {
 		float: right;
 		margin-right: 5%;
 	}

 	.m-bottom>li:nth-child(3)>span:first-child {
 		margin-left: 1.5%;
 	}

 	/*.m-bottom>li:nth-child(3)>span:nth-child(2) {
 		margin-left: %;
 		margin-left: 5%；
 	}*/

 	.m-bottom>li:nth-child(3)>span:nth-child(2) {
 		color: red;
 		margin-left: -3%;
 	}

 	.m-bottom>li:nth-child(3)>span:nth-child(3) {
 		color: orange;
 		/*margin-left: 2%;*/
 	}

 	.m-bottom>li:nth-child(4) {
 		color: black;
 		font-weight: bold;
 		font-size: 13px;
 		margin-left: 2%;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 		margin-top: 1%;
 	}

 	/*.m-bottom>li:nth-child(4)>span:last-child {
 		float: right;
 		margin-right: 29px;
 	}

 	.m-bottom>li:nth-child(4)>span:first-child {
 		margin-left: 2%;
 	}*/

 	.m-bottom>li:nth-child(4)>span+span {
 		margin-right: 5.5%;
 	}

 	.m-bottom>li:nth-child(4)>span:first-child {
 		margin-left: 1%;
 	}

 	.m-bottom>li:nth-child(4)>span:nth-child(2) {
 		color: red;
 		margin-left: -3%;
 	}

 	.m-bottom>li:nth-child(4)>span:nth-child(3) {
 		color: orange;
 	}

 	.m-bottom>li:nth-child(5) {
 		color: black;
 		font-weight: bold;
 		font-size: 13px;
 		margin-left: 2%;
 		width: 100%;
 		display: flex;
 		justify-content: space-between;
 		margin-top: 1%;
 	}

 	.m-bottom>li:nth-child(5)>span+span {
 		/*float: right;*/
 		margin-right: 5.5%;
 	}

 	/*.m-bottom>li:nth-child(5)>span:last-child {
 		float: right;
 		margin-right: 29px;
 	}*/

 	.m-bottom>li:nth-child(5)>span:first-child {
 		margin-left: 1%;
 	}

 	.m-bottom>li:nth-child(5)>span:nth-child(2) {
 		color: red;
 		margin-left: -3%;
 	}

 	.m-bottom>li:nth-child(5)>span:nth-child(3) {
 		color: orange;
 		/*margin-left: 1.2%;*/
 	}

 	.m-page2 {
 		display: none;
 	}

 	.m-infor1 {
 		position: relative;
 		background: #eee;
 		border-radius: 5px;
 		/*height: 250px;*/
 		width: 90%;
 		margin: 15px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.m-title {
 		display: flex;
 	}

 	.m-detail>li+li {
 		margin-top: 15px;
 	}

 	.m-detail>li:nth-child(1) {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-detail>i:nth-child(2){
 		display: block;
 		margin-top: -16px;
 		margin-left: 139px;
 		font-size: 15px;
 	}

 	.m-detail>li:nth-child(3) {
    display: flex;
    float: right;
    margin-right: 4%;
    font-size: 15px;
    font-weight: bold;
    /* margin-left: 300px; */
    margin-top: -19px;
}

 	.m-detail>i:nth-child(4){
 		display: block;
 		margin-top: -25px;
 		margin-left: 420px;
 		font-size: 15px;
 		margin-bottom: 15px;
 	}

 	.m-link {
 		border-top: 1px solid #555;
 		display: flex;
 	}

 	.m-infor2 {
 		position: relative;
 		background: #eee;
 		border-radius: 5px;
 		/*height: 250px;*/
 		width: 90%;
 		margin: 15px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.m-title {
 		display: flex;
 	}

 	.m-title>i {
 		display: block;
 		color: red;
 		margin-top:  10px;
 		margin-left: 2%;
 		font-size: 20px;
 		margin-bottom: 5px;
 	}

 	.m-title>li {
 		font-weight: bold;
 		padding-left: 2%;
 		margin-top: 7px;
 		font-size: 20px;
 	}

 	.m-detail {
 		margin-left: 2%;
 	}

 	.m-detail>li {
 		margin-top: 1%;
 	}

 	.fa-solid.fa-phone {
 		color: #388e3c;
 		margin-left: 2%;
 		margin-top: 6px;
 		height: 20px;
 	}

 	.m-link>li {
 		margin-top: 5px;
 		margin-left: 1%;
 		font-weight: bold;
 		width: 90%;
 	}

 	.m-link>.fa-solid.fa-angle-right {
 		display: flex;
 		float: right;
 		margin-top: 6px;
 		margin-right: 0px;
 	}

 	.fa-solid.fa-angle-left {
 		font-size: 20px;
 		margin-top: 20px;
 		margin-left: 5%;
 	}

 	.m-back {
 		font-size: 20px;
 		font-weight: bold;
 		margin-top: -25px;
 		margin-left: 8%;
 	}

 	.m-city {
 		position: relative;
 		background: #fff;
 		border-radius: 5px;
 		/*height: 250px;*/
 		width: 90%;
 		margin: 15px 0 0 0 ;
 		margin-right: auto;
 		margin-left: auto;
 		display: none;
 	}

 	.m-city>.m-tp>i {
 		margin-left: 0px;
 	}

 	.m-city>.m-tp>span {
 		font-size: 20px;
 		font-weight: bold;
 		margin-left: 2%;
 	}

 	.m-city>.m-tp>span:nth-child(3) {
 		font-size: 20px;
 		font-weight: bold;
 		text-align: center;
 		display: block;
 		margin-top: -28px;
 	}

 	.m-city>.m-part {
 		margin-top: 20px;
 		font-size: 13px;
 	}

 	.m-city>.m-part>div {
 		/*margin-top: 30px;*/
 		font-size: 15px;
 		font-weight: bold;
 		margin-bottom: 10px;
 	}

 	.m-city>.m-part>li {
 		/*width: 10%;*/
 		height: 30px;
 		/*background-color: #eee;*/
 		/*align-items: right;*/
 		display: flex;
 		/*margin-right: 0px;*/
 	}

 	.m-city>.m-part>li+li {
 		margin-top: 10px;
 	}

 	.m-city>.m-part>li>span {
 		display: inline-block;
 		width: 25%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;

 	}

 	.m-city>.m-part>li>span+span {
 		margin-left: 15%;
 	}

 	.m-all {
 		margin-top: 10px;
 		font-size: 13px;
 	}

 	.m-all>div+div {
 		margin-top: 10px;
 	}

 	.m-all>.m-A>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-A>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-A>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-B>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-B>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-B>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-C>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-C>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-C>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-D>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-D>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-D>li+li {
 		margin-top: 10px;
 	}

    .m-all>.m-E>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-E>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-E>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-F>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-F>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-F>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-G>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-G>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-G>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-H>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-H>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-H>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-J>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-J>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-J>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-K>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-K>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-K>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-L>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-L>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-L>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-M>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-M>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-M>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-N>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-N>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-N>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-P>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-P>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-P>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-Q>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-Q>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-Q>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-R>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-R>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-R>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-S>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-S>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-S>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-T>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-T>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-T>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-W>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-W>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-W>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-X>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-X>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-X>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-Y>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-Y>li {
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-Y>li+li {
 		margin-top: 10px;
 	}

 	.m-all>.m-Z>span {
 		font-size: 15px;
 		font-weight: bold;
 	}

 	.m-all>.m-Z>li {
 		/*font-weight: bold;*/
 		/*color: #000;*/
 		display: inline-block;
 		width: 15%;
 		height: 25px;
 		background-color: #C8E6C9 ;
 		border-radius: 5px;
 		text-align: center;
 		padding-top: 5px;
 	}

 	.m-all>.m-Z>li+li {
 		margin-top: 10px;
 	}

 	/*.m-city>.m-right {
 		font-size: 18px;
 		font-weight: bold;
 		display: block;
 		width: 100%;
 		margin-right: 0px;
 		text-align: right;
 	}*/

 	.m-city>.m-detailpart>.m-all {
 		display: inline-block;
 		width: 98%;
 	}

 	.m-city>.m-detailpart>.m-right {
 		font-size: 15px;
 		font-weight: bold;
 		margin-top: 10px;
 		width: 2%;
 		text-align: right;
 		position: fixed;
 		bottom: 5px;
 		right: 6%;
 		top: 260px;
 		
 	}

 	.m-city>.m-detailpart>.m-right>li+li {
 		margin-top: -3.5px;	
 	}

 	.m-city>.m-detailpart>.m-right>li {
 		margin-top: -3.5px;	
 		color: #ccc;
 	}


 	.m-city>.m-detailpart {
 		display: inline-flex;
 		margin-top: 20px;
 		width: 100%;
 	}

    .m-detail>i:nth-child(4) {
    /* display: block; */
    display: flex;
    float: right;
    margin-top: -15px;
    /* margin-left: 415px; */
    font-size: 15px;
    margin-bottom: 2px;
    margin-right: 1%;
    }


 }